.msgbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 420px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .msgbox__content {
    
  }
  .msgbox__content *{
    display: block;
  }
  
  .msgbox__content_title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .msgbox__content_msg {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .msgbox__content__btns button {
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .msgbox__content__btns button:first-child {
    background-color: #4CAF50;
    color: white;
  }
  
  .msgbox__content__btns button:last-child {
    background-color: #f44336;
    color: white;
  }