.btn {
    font-size: .6rem;
    text-transform: capitalize;
    border: none;
    border-radius: 3px;
    padding: 12px 22px;
    margin: auto 5px;
    cursor: pointer;
    transition: color .5s, background .5s ease-out;
    outline: none;
    position: relative;
}

.primary{
    background: #c8ab08;
    color: #fff;
}
.primary:hover{
    background: #aa9106;
}
.fullwidth{
    display: block;
    margin: 5px 0;
    width: 100%;
}
.secondary{background: #111;color: #eee;}
.secondary:hover{background: #333;color: #fff;}
.dangers{
    background: rgb(255, 53, 53);
    color: #fff;
}
.dangers:hover{background: rgb(172, 57, 57);}
.blue{
    background: rgb(53, 157, 255);
    color: #fff;
}
.blue:hover{background: rgb(24, 129, 227);}
.green{
    background: rgb(109, 194, 4);
    color: #fff;
}
.green:hover{background: rgb(111, 255, 28);}