.btn {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    border-radius: 3px;
    padding: 6px 22px;
    margin: auto 5px;
    cursor: pointer;
    transition: color .5s, background .5s ease-out,opacity .5s;
    outline: none;
    position: relative;
}

.primary{
    background: var(--light-red);
    color: #fff;
    &:hover{
        opacity: .7;
    }
}
html[data-theme="dark"] .primary{
    background: var(--primary);

}
.fullwidth{
    display: block;
    margin: 5px 0;
    width: 100%;
}
.secondary{
    background: #111;
    color: #eee;
    &:hover{background: #333;color: #fff;}
}
.dangers{
    background: rgb(255, 53, 53);
    color: #fff;
    &:hover{background: rgb(172, 57, 57);}
}
.blue{
    background: rgb(53, 157, 255);
    color: #fff;
    &:hover{background: rgb(24, 129, 227);}
}
.green{
    background: rgb(109, 194, 4);
    color: #fff;
    &:hover{background: rgb(111, 255, 28);}
}