.shForm{
    position: relative;
    padding: 30px;
    width: 60%;
    height: auto;
    background-color: var(--color-background);
    border: 1px solid var(--color-text);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-text);
}

.shForm input{
    margin-top: 5px;
}
@media (max-width: 769px){
    .shForm{
        width: 80%;
        padding: 30px 10px;
    }
}